{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="title_left">
        <h3>{{ 'Operations calendar'}} <small>{{ 'click on event to view'|trans }}</small></h3>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                dayClick: function(date, jsEvent, view, resourceObj) {
                    alert('Date: ' + date.format());
                    alert('Resource ID: ' + resourceObj.id);
                },
                events: function(start, end, timezone, callback) {
                    $.ajax(Routing.generate('app_default_getevents'), {
                        dataType: 'json',
                        data: {
                            start: start.unix(),
                            end: end.unix()
                        },
                        success: function(json) {
                            callback(json.events);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
