{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'Suppliers'|trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="pull-right"><a href="{{ path('app_suppliers_new') }}" class="btn btn-primary">{{ 'Add new'|trans }}</a></div>
                    <table id="datatable-suppliers" class="table table-striped table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    <script>
        $(document).ready(function() {
            App.Suppliers.Index.init();
        });
    </script>
{% endblock %}
