<div class="btn-group">
    <a href="{{ path('app_clients_edit', {'id': record.id}) }}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
    <a href="{{ path('app_clients_delete', {'id': record.id}) }}" class="btn btn-xs btn-danger btn-delete"><i class="fa fa-trash"></i></a>
</div>